<?xml version="1.0" encoding="utf-8"?>
<Configuration status="warn" monitorInterval="300">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%p] [%t#%T] %l %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>